div.jumbotron.carousel-hero {
  height: 360px;
  color: #2c3134;
  text-align: center;
  background-size: cover;
  background-position: center;
}

div.jumbotron.addon1 {
  background-image: url('../../assets/img/projects/pop-drops/featured_1-520x245.png');
}

div.jumbotron.addon2 {
  background-image: url('../../assets/img/projects/starbridge/featured_1-520x245.png');
}

div.jumbotron.addon3 {
  background-image: url('../../assets/img/projects/starbot/starbot_featured.png');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  color: #6610f2;
}

p.hero-subtitle {
  background-color: rgba(0,0,0,0.3);
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #ffffff;
}

.plat {
  border-radius: 0px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

.btn.btn-primary {
  background-color: rgba(102,16,229,0.79)!important;
  border-color: rgba(102,16,229,0.79)!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.carousel-inner {
  width: 100%;
}

