div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('../../assets/img/projects/pop-drops/featured_1-520x245.png');
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/projects/starbridge/featured_1-520x245.png');
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/projects/starbot/starbot_featured.png');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

.plat {
  border-radius: 0px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

.btn.btn-primary {
  background-color: rgba(102,16,229,0.79)!important;
  border-color: rgba(102,16,229,0.79)!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.zoom {
  transition: .2s;
}

.zoom:hover {
  transform: scale(1.2);
}

