.card {
  border-radius: 6px;
  border-color: rgb(255,255,255);
  border-width: 1px;
  height: 100%;
  width: 100%;
  background: rgb(50,55,58);
  transition: .2s;
}

.card:hover {
  transform: scale(1.2);
  z-index: 1;
}

.addon-col {
  height: 390px;
  width: 350px;
  margin-bottom: 20px;
}

.addon-card-deco {
  background: rgb(50,55,58);
  border: 1px solid #ffffff;
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);
}

.addon-card-list {
  height: 100%;
  text-align: center;
  font: normal 14px sans-serif;
  border-radius: 3px;
  padding: 25px;
}

h2 {
  color: #6610f2;
  margin-top: 16px;
  font-weight: 800;
  font-size: 20px;
}

a {
  color: rgba(0,0,0,0);
}

.nav-item:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  background-color: #2f353a;
}

.nav-item-active {
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}

.nav-link {
  color: rgba(224,217,217,0.9)!important;
  margin-top: -10px;
}

.brand-title {
  width: 31px;
  color: #6610f2;
  font-size: 25px;
  padding-bottom: 3px;
}

.navbar-toggler-icon {
  background-image: url("../../assets/img/toggle-icon.png");
}

